<launch>
	<!-- Launch usb_cam node -->
    <node pkg="usb_cam" type="usb_cam_node" name="cam1">
      <!-- Parameters used to find the camera -->
      <param name="pixel_format" value="yuyv"/>
    </node>

    <!-- Launch RViz -->
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtle_nav)/rviz/yolo.rviz"/>

    <!-- include yolo_v3.launch and remap subscriber -->
  <include file="$(find darknet_ros)/launch/yolo_v3.launch"> 
    <arg name="image" value="/cam1/image_raw" />
  </include>
</launch>